/db_env
.env
/__pycache__
app.log
dockerfile
dockerfile
requirements.txt
requirements.txt
requirements.txt
table_details.py
/__pycache__
table_details.py
table_info.txt
table_details.py
app.log
table_details.py
requirements.txt
